<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <div class="item_wrap">
      <div class="item">
        <h1>New Upload File</h1>
        <%= render 'form', upload_file: @upload_file, button_name: "Upload" %>
      </div>
    </div>
  </div>
</div>
<%#= link_to 'Back', upload_files_path %>
