<div class="item_wrap">
  <div class="item" >
    <div class="col-8">
      <h3 >Edit Institute / Centre</h3><br>
        <%= render 'form', institute: @institute, button_name: "Update" %>
      </div>
    </div>
  </div>
</div>
<!-- <%#= link_to 'Show', @institute %> | -->
<%#= link_to 'Back', institutes_path %>
