<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <div class="item_wrap">
      <div class="item">
        <h3>Add Institute / Centre</h3><br>
        <%= render 'form', institute: @institute, button_name: "Add" %>
      </div>
    </div>
  </div>
</div>
<%#= link_to 'Back', institutes_path %>
